
.image-container{
    max-width: 100%;
}

.image-responsive{
    width: 100%;
    height: auto;
}

#card-header{
    background-color: #ffffff;
}

#btn-actions, #return-login{
    color: #2ab896;
    text-decoration: none;
}

#btn-actions:hover{
    color:#a87b05;
}

#return-login:hover{
    color:#a87b05;
}

.form-control{
    border: 1px solid #a87b05;
}

#ingresar{
    background-color: #159e7e;
}

#ingresar:hover{
    background-color: #a87b05;
}

.bg-footer{
    background-color: rgba(21,158,126,0.3);
}

#pp, #tc{
    text-decoration: none;
    color: #000000;
}

#pp:hover{
    color:#a87b05;
}

#tc:hover{
    color:#a87b05;
}

.bd-cards-abg{
    border-color: #a87b05;
    opacity: 1;
}

.bg-black{
    background-color: rgba(146,131,2,1) !important;
}